body::-webkit-scrollbar{
    width: 0px;
}
#fldIniciar{
	margin-top: 10%;	margin-left: 25%;	width: 50%;
	background-color: white;	border: none;	border-radius: 5px;
	overflow: hidden;
}
#fldRegistra{
	position: fixed;	top: 10%;
	height: 80%;	z-index: 100;
	overflow-y: scroll;		opacity: 0;
}
#fldRegistra::-webkit-scrollbar{
	width: 0px;
}
fieldset{
	margin-left: 25%;	width: 50%;
	background-color: white;	border: none;	border-radius: 5px;
	padding: 0px;	overflow: hidden;	height: 50%;
	box-shadow: 10px 10px 40px #000;
	overflow-y: scroll;		
}
fieldset::-webkit-scrollbar{
	width: 0px;	
}
fieldset h1{
	padding: 15px;		font-size: 35px;	background-color: #7e57c2;
	margin: -5%;	text-align: center;			color: white;	
	padding-top: 40px;		text-align: center;		width: 110%;
}
fieldset div form div .input-field label {
	color: #000;
}
fieldset div form div .input-field .prefix.active {
	color: #7e57c2;
}
fieldset div form div .input-field input[type=text].valid {
	border-bottom: 1px solid #7e57c2;
 	box-shadow: 0 1px 0px 0px #7e57c2;
}
fieldset div form div .input-field input[type=text].invalid {
	border-bottom: 1px solid red;
	box-shadow: 0 1px 0px 0px red;
}
fieldset div form div .input-field input[type=email].valid {
	border-bottom: 1px solid #7e57c2;
 	box-shadow: 0 1px 0px 0px #7e57c2;
}
fieldset div form div .input-field input[type=email].invalid {
	border-bottom: 1px solid red;
	box-shadow: 0 1px 0px 0px red;
}
fieldset div form div .input-field input[type=password].valid {
	border-bottom: 1px solid #7e57c2;
 	box-shadow: 0 1px 0px 0px #7e57c2;
}
fieldset div form div .input-field input[type=password].invalid {
	border-bottom: 1px solid red;
	box-shadow: 0 1px 0px 0px red;
}
a input[type="submit"]{
	padding: 10px;		font-weight: bold;		border: none;
	color: white;
}
input[type="submit"]:hover{
	cursor: pointer;
}
#btn1, #btn2, #btn3, #btn4, #btn5{
	background-color: #7e57c2;		padding: 0px;
}
#btn2, #btn3, #btn4, #btn5{
	padding-left: 10px;		padding-right: 10px;		font-weight: bold;
	margin-left: 5%;	background-color: #42a5f5 ;
}
#btn4{
	background-color: lightgreen;	color: black;
}
#btn5{
	background-color: red;
}
#fldImg{
	position: fixed;	top: 7%;	left: -100%;	
	width: 70%;		height: 85%;
	background-color: rgba(0,0,0,0.7);
	border-radius: 20px;
	border: 3px solid black;	z-index: 1000;
}
#fldImg div{
	display: inline-block;		margin-left: 25px;		margin-top: 25px;
}
#fldImg div img{
	width: 200px;	height: 200px;		border-radius: 200px;
	opacity: 0.8;		filter: grayscale(0.7);
}
#fldImg div img:hover{
	cursor: pointer;	border-radius: 50px;	opacity: 1;
	filter: grayscale(0);
}
#RtxtImg, #RtxtGenero{
	display: none
}